<style>
#forkme {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -7rem;
  top: 4rem;

  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
#forkme a {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: .875rem;
  padding: .5rem 8rem .6rem 8rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  background-color: #8892bf;

  -webkit-transition: all 0.2s ease-out; 
     -moz-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 
}
#forkme a:hover {
  background-color: #4f5b92;
}
</style>
<div id="forkme"><a href="https://github.com/salathe/phps.io/blob/gh-pages/_data/projects.yml">Edit me on GitHub</a></div>
